.player{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    border:none;
    border-radius: 5px;
    background-color: rgb(69, 69, 85);
}
.thumnail{
    width: 80%;
    border-radius: 10px;
}
.song-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
}
.song-title{
    font-size:30px;
}
.player-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-bottom: 20px;
}
.player-icons>button{
    border:none;
    cursor: pointer;
    background-color: transparent;
    background-size: 100%;
}
.repeart-button{
    background-image: url("icon/Repeat.png");
    width: 30px;
    height: 30px;
}
.previous-button{
     background-image: url("icon/previous.png");
     width: 30px;
    height: 30px;
}
.next-button{
     background-image: url("icon/next.png");
     width: 30px;
    height: 30px;
}
.queue-button{
     background-image: url("icon/queue.png");
     width: 30px;
    height: 30px;
}
.play-button{
    background-image: url("icon/play.png");
    background-size: 100%;
    width: 60px;
    height: 60px;
}
.pause-button{
    background-image: url("icon/pause.png");
    background-size: 100%;
    width: 60px;
    height: 60px;
}